@use '@coreui/coreui/scss/coreui' as * with (
  $enable-deprecation-messages: false
);
@use '@coreui/chartjs/scss/coreui-chartjs';
@use 'vendors/simplebar';

/* ===========================
   FORÇAR MODO CLARO
=========================== */
:root {
  color-scheme: light;
}
body {
  font-family: 'Cinzel', serif;
  background-color: #fef9f5 !important;
  color: #000 !important;
}

[data-coreui-theme='dark'] {
  --cui-body-bg: #fef9f5 !important;
  --cui-body-color: #000 !important;
}

/* ===========================
   LAYOUT GERAL
=========================== */
.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px);
  text-align: center;
  padding: 1rem;
  background-color: #36302d;
  color: #fff;
}

/* ===========================
   FONTES PADRÃO
=========================== */
button,
.c-button {
  font-family: 'Roboto', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter', sans-serif !important;
  color: #000 !important;
}

p,
span,
strong {
  font-family: 'Poppins', sans-serif !important;
  color: #333 !important;
}

.feature-text {
  color: #000 !important;
}

/* ===========================
   SEÇÕES E ELEMENTOS
=========================== */
.nav-links a {
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hero-section {
  padding: 4rem 0;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #0c0c0c;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #0c0c0c;
}

.hero-image {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 10px #00000033;
}

/* ===========================
   SEÇÕES DE CONTEÚDO
=========================== */
.features-section {
  padding: 4rem 0;
  background-color: #fdffff;
  text-align: center;
}

.features-message {
  padding: 4rem 0;
  background-color: #b5c1f0;
  text-align: center;
}

.features-clientes {
  padding: 4rem 0;
  background-color: #b5c1f0;
  text-align: center;
}

.features-start {
  padding: 4rem 0;
  background-color: #fdfdfd;
  text-align: center;
}
